<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/blog.css"/>
</head>
<body>
<div>
    @RenderBody()
</div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/Frontend/app.js"></script>
    <script src="~/Scripts/Frontend/image.js"></script>
</body>
</html>
