.oneline {
    display: inline-block;
}

.date-group {
    width: 150px;
}

.gender-group {
    width: 132px;
}

#text {
    resize: none;
    height: 150px;
}

#postBtn {
    float: right; 
    margin-top: 5px;
}

.search-group {
    margin-left: 150px;
    position: absolute;
    top: 20px;
}

#search {
    width: 200px;
}

#chooseAvatar {
    margin-top: 10px;
}

#recentComments {
    position: relative;
    bottom: 3px;
}

.btn-file {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
