.oneline {
    display: inline-block;
}

.date-group {
    width: 150px;
}

.gender-group {
    width: 132px;
}

#text {
    resize: none;
    height: 150px;
}

#postBtn {
    float: right; 
    margin-top: 5px;
}

.search-group {
    margin-left: 150px;
    position: absolute;
    top: 20px;
}

#search {
    width: 200px;
}

#chooseAvatar {
    margin-top: 10px;
}

#recentComments {
    position: relative;
    bottom: 3px;
}
